# Ignore C object and executable files
*.o
*.a
*.so
*.patch
tags
*.orig

# Ignore Linux / Apple executable
zeroconf_lookup

# Ignore Windows executables
*.exe

# Ignore vim swap files
*.swp

# Ignore LibreOffice temp files
.~lock.*

# Ignore Chrome private key
key.pem

# Ignore Apple metadata
.DS_Store

