#
# This is an example config file for zeroconf_lookup
#
# Only lines in the form "variable=value" are evaluated.
# White space around the equals sign is not allowed.
#
# The timeout is only relevant in direct mDNS-SD mode.
# Valid numbers are in the range from 1 to 9.
#
timeout=3
#
# Use Avahi if it's available.
# Can be 0 (don't use Avahi) or 1 (use if available). Default is 1.
#
avahi=0
#
# Enable debugging if set to 1. Default is 0 (no debugging).
# The higher the number the more output is produced.
#
debug=1
#
